:root {
  --basic-white: #fff;
  --basic-black: #000;

  --transparent-white: rgba(255, 255, 255, 0.3);

/* grays */
  --basic-light-gray: #F2F2F2;
  --basic-dark-gray: #333;

  --filter-gray: #CACACA;

  --hotel-middle-gray: #666;

  --reasons-list-gray: #EEE;

  --form-hover-gray: #EBEBEB;
  --form-focus-gray: #E5E5E5;
  --form-shadow: rgba(0, 1, 1, 0.15);

  --background-shadow: rgba(0, 1, 1, 0.2);

/* browns */
  --basic-brown: #766357;
  --middle-brown: #604E43;
  --dark-brown: #503E33;

/* blues */
  --basic-blue: #81B3D2;
  --middle-blue: #669EC0;
  --darl-blue: #5496BD;
}

/* global */

body {
  min-width: 1220px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-align: center;
  color: var(--basic-dark-gray);
  text-transform: uppercase;
  background-color: var(--basic-light-gray);
}

.page-body a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* main header */

.main-navigation {
  background-color: var(--basic-white);
  font-weight: 700;
  line-height: 26px;
  color: var(--basic-black);
}

.main-navigation-links {
  list-style: none;
}

.main-navigation-links a:visited {
  color: var(--basic-black);
}

.main-navigation-links a:hover {
  color: var(--basic-blue);
}

.main-navigation-links a:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.main-navigation-links-current a:not([href]) {
  color: var(--basic-brown);
}

/* general headind */

.heading {
  font-weight: 700;
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
}

/* main-cover */

.main-cover {
  background-color: var(--basic-white);
}

.main-cover-5reasons {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}

/* reasons with image */

.reason-with-image .heading {
  color: var(--basic-white);
}

.reason-with-image {
  background-color: var(--basic-blue);
  color: var(--basic-white);
}

/* list */

.list {
  list-style: none;
}

/* reasons list */

.reasons-list {
  background-color: var(--reasons-list-gray);
}

/* recommendations */

.recommendations {
  background-color: var(--basic-white);
}

/* hotels search */

.hotels-search {
  background-color: var(--basic-white);
  line-height: 24px;
}

.hotels-search .heading {
  font-size: 30px;
}

.hotels-search-button {
  font-family: inherit;
  text-align: inherit;
  text-transform: inherit;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  background-color: var(--basic-brown);
  color: var(--basic-white);
}

.hotels-search-button:hover {
  background-color: var(--middle-brown);
}

.hotels-search-button:active {
  background-color: var(--dark-brown);
  color: var(--transparent-white);
}
