:root {
  --basic-white: #FFF;
  --basic-black: #000;

  --transparent-white: rgba(255, 255, 255, 0.3);
  --transparent-black: rgba(0, 0, 0, 0.3);

/* grays */
  --basic-light-gray: #F2F2F2;
  --basic-dark-gray: #333;

  --filter-gray: #CACACA;

  --hotel-middle-gray: #666;

  --reasons-list-gray: #EEE;

  --form-hover-gray: #EBEBEB;
  --form-focus-gray: #E5E5E5;
  --form-shadow: rgba(0, 1, 1, 0.15);

  --footer-gray: rgba(255, 255, 255, 0.9);

  --background-shadow: rgba(0, 1, 1, 0.2);

/* logo academy */

  --active-logo-academy: #BDBBBC;
  --logo-academy: #231F20;

/* browns */
  --basic-brown: #766357;
  --middle-brown: #604E43;
  --dark-brown: #503E33;

/* blues */
  --basic-blue: #81B3D2;
  --middle-blue: #669EC0;
  --dark-blue: #5496BD;
}

/* global */

.page {
  height: 100%;
  background-color: var(--basic-light-gray);
}

.page-body  {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}

.page-body a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.clear-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* grid */

.wrapper {
  min-height: 100%;
  width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  background-color: var(--basic-white);
}

/* main header */

.main-navigation {
  display: grid;
  grid-template-columns: 1fr;
  font-weight: 700;
  line-height: 26px;
  color: var(--basic-black);
}

.main-navigation-logo {
  grid-column: 1;
  grid-row: 1;
  z-index: 1;
}

.main-navigation-links {
  grid-column: 1;
  grid-row: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* main links */

.main-navigation-links a:visited,
.footer-contacts a:visited {
  color: var(--basic-black);
}

.main-navigation-links a:hover,
.footer-contacts a:hover {
  color: var(--basic-blue);
}

.main-navigation-links a:active,
.footer-contacts a:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.main-navigation-links a:not([href]) {
  color: var(--basic-brown);
}

/* general headind */

.heading {
  font-weight: 700;
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
}

/* main-cover */

.main-cover-image {
  display: block;
  margin: 0 auto;
  background-image: url(../img/main-cover.jpg);
  background-color: var(--basic-brown);
  background-repeat: no-repeat;
}

.reasons {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}

/* reasons with image */

.reason-with-image-right .heading,
.reason-with-image-left .heading {
  color: var(--basic-white);
}

.reason-with-image-right,
.reason-with-image-left {
  background-color: var(--basic-blue);
  color: var(--basic-white);
}

.reason-with-image-right {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.reason-with-image-right img {
  grid-column: 2;
  grid-row: 1 / 4;
}

.reason-with-image-left {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.reason-with-image-left img {
  grid-column: 1;
  grid-row: 1 / 4;
}

/* reasons list */

.reasons-list-block {
  background-color: var(--reasons-list-gray);
}

.reasons-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

/* recommendations */

.recommendations-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

/* hotels search */

.hotels-search {
  line-height: 24px;
}

.hotels-search .heading {
  font-size: 30px;
}

.hotels-search-button {
  font-family: inherit;
  text-align: inherit;
  text-transform: inherit;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  background-color: var(--basic-brown);
  color: var(--basic-white);
}

.hotels-search-button:hover {
  background-color: var(--middle-brown);
}

.hotels-search-button:active {
  background-color: var(--dark-brown);
  color: var(--transparent-white);
}

/* map */


/* hotels filter */

.search-filter {
  background-color: var(--basic-brown);
  background-image: url(../img/background.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  color: var(--basic-white);
  text-align: left;
}

/* search result */

.search-result {
  background-color: var(--basic-white);
}

.search-result-amount {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}

.sort {
  font-size: 12px;
  line-height: 18px;
}

.sort-items a {
  font-size: 12px;
  line-height: 18px;
  color: var(--transparent-black);
  border-bottom: 1px dashed var(--basic-blue);
}

.sort-items a:hover {
  color: var(--basic-blue);
}

.sort-items a:active {
  color: var(--basic-black);
  border-bottom: 0;
}

.sort-items a:not([href]) {
  color: var(--basic-blue);
  border-bottom: 0;
}

.sort-by-price svg {
  fill: var(--filter-gray);
}

.sort-by-price svg:hover {
  fill: var(--basic-black);
}

.sort-by-price svg:active {
  fill: var(--basic-blue);
}

.sort-by-price a:not([href]) svg{
  fill: var(--basic-blue);
}

/* list of hotels */

.hotel-list {
  border-top: 1px solid var(--form-focus-gray);
}

.hotel-list-item {
  border-bottom: 1px solid var(--form-focus-gray);
  text-align: left;
}

.hotel-header {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  color: var(--basic-black);
}

.hotel-header:hover {
  color: var(--basic-blue);
}

.hotel-header:active {
  color: var(--transparent-black);
}

.more-button {
  color: var(--basic-white);
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  background-color: var(--basic-blue);
}

.more-button:hover{
  background-color: var(--middle-blue);
}

.more-button:active{
  background-color: var(--dark-blue);
  color: var(--transparent-white);
}

.book-button {
  color: var(--basic-white);
  font-weight: 700;
  background-color: var(--basic-brown);
}

.book-button:hover {
  background-color: var(--middle-brown);
}

.book-button:active {
  background-color: var(--dark-brown);
  color: var(--transparent-white);
}

.rating {
  color: var(--hotel-middle-gray);
  background-color: var(--basic-light-gray);
}

.two-stars {
  background-image: url(../img/star.svg);
  background-repeat: repeat-x;
}

.three-stars {
  background-image: url(../img/star.svg);
  background-repeat: repeat-x;
}

.four-stars {
  background-image: url(../img/star.svg);
  background-repeat: repeat-x;
}

/* main footer */

.main-footer {
  background-color: var(--footer-gray);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.footer-contacts {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}

.footer-phone {
  color: inherit;
}

.footer-hashtag {
  color: inherit;
}

.footer-social-button {
  background-color: var(--basic-blue);
}

.footer-social-button:hover {
  background-color: var(--middle-blue);
}

.footer-social-button:active {
  background-color: var(--dark-blue);
}

.footer-social-button:active img {
  opacity: 0.3;
}

.footer-copyright {
  line-height: 26px;
}

.logo-academy svg {
  fill: var(--logo-academy);
}

.logo-academy:hover svg {
  fill: var(--basic-blue);
}

.logo-academy:active svg {
  fill: var(--active-logo-academy);
}

/* modal */

.modal-hotel-search {
  background: var(--basic-white);
  box-shadow: 0px 7px 15px rgba(0, 1, 1, 0.15);
  font-weight: 700;
}

.button-search {
  background-color: var(--basic-blue);
  color: var(--basic-white);
  font-family: inherit;
  font-weight: inherit;
  text-transform: inherit;
  font-size: 21px;
  line-height: 26px;
}

.button-search:hover {
  background-color: var(--middle-blue);
}

.button-search:active {
  background-color: var(--dark-blue);
  color: var(--transparent-white);
}

.input-date {
  background-color: var(--basic-light-gray);
  border: 0;
}

.input-date:hover {
  background-color: var(--form-hover-gray);
}

.input-date:focus {
  background-color: transparent;
  border: 3px solid var(--form-focus-gray);
}
